body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 768px;
  background-color: #0000;
}

code {
  font-family: Arial, Helvetica, sans-serif monospace;
}
